<h1 align=center>Here are the Bands</h1>
<br>

<h2 align=center>
	<% @bands.each do |band| %>
		<%= link_to band.band_name, band_url(band.id) %>
		<br>
	<% end %>
</h2>


<br>

<h3 align=center>

<%= link_to "Create a new band", new_band_url, :class => "button", 
			:method => :create %>

</h3>