<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>

  <%= render "layouts/errors" %>

  <div align=right>
    <% if signed_in? %>	
  	  	<%= current_user.email %> is currently logged in!
  	  	<br><br>
  	  	<%= button_to "Log Out", session_url, :class => "button", 
  			:method => :delete %>	
    <% end %> 
	</div>


</head>

<body>

<%= yield %>

</body>
</html>
