<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>

  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <%= error %>
      <br>
    <% end %>
  <% end %>



  <% if signed_in? %>
  	<div align=right>
	  	<%= current_user.email %> is currently logged in!
	  	<br><br>
	  	<%= button_to "Log Out", session_url, :class => "button", 
			:method => :delete %>
		</div>
  <% end %> 
	


</head>

<body>

<%= yield %>

</body>
</html>
